<center>
  <div class="alert alert--green">
    <h1>Welcome<%= @user.email ? ", #{@user.email}" : '' %>!</h1>
  </div>
  <div class="homepage__header green-block">
    <h1>Well of Urd</h1>
  </div>
</center>
