<%= render partial: 'header' %>
<%= render partial: 'nav' %>
<%= render partial: 'about_us' %>

<div class="right">
  <%= render partial: 'shared/login_form' unless session[:current_user_id] %>
</div>
