<header>
  <div class="centerHead">
    <center>
      <h1>Well of Urd</h1>
      </center>
    </div>
</header>

<nav>
  <div class = "tab">
   <button class ="tablinks">Home</button>

   <button class = "tablinks">News</button>

   <button class = "tablinks">Guild Events</button>
  </div>
</nav>

<div class = "about">
    <h2>About Us</h2>
    <p>This is a page about us</p>
</div>

<div class="right">
  <%=form_for @user, url: signup_path do |f| %>
    <%= f.text_field :email, placeholder: "Email Address" %>
    <%= f.text_field :name, placeholder: "Password" %>
    <%= f.button :submit %>
  <% end %>


</div>
