<header>
  <center>
    <h1>Well of Urd</h1>
  </center>>
</header>

<nav> INSERT NAV LINKS HERE
</nav>


<section>
  <h1>About Us</h1>
  <p>We are a small guild focused on ruling the world.</p>

</section>

<div class="right">
  <%=form_for @user, url: signup_path do |f| %>
    <%= f.text_field :email, placeholder: "Email Address" %>
    <%= f.text_field :name, placeholder: "Password" %>
    <%= f.button :submit %>
  <% end %>


</div>


<button>test</button>
