.alert {
  padding: 0;
  display: inline-block;

  visibility: hidden;
  overflow: hidden;

  animation-name: alert;
  animation-duration: 8s;
  animation-timing-function: linear;
}
.alert-green { background-color: #dff0d8; }
.alert-red { background-color: #f2dede; }

@keyframes alert {
  0% {
    padding: 10px 80px;
    height: 20px;
    visibility: visible;
  }
  87% {
    padding: 10px 80px;
    height: 20px;
    visibility: visible;
  }

  100% {
    padding: 0;
    height: 0px;
    visibility: hidden;
  }
}
