body { color: white; }

.tabs {
  padding: 0px 10px;
  margin: 10px 0px;

  button {
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    color: white;

    &:hover, &:active { color: black; }
    &:hover { background-color: #dff0d8; }
    &:active { background-color: #fff; }
  }
}

.tab-content {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

.green-block {
    overflow: hidden;
    border: 5px solid darkgreen;
    background-color: green;
}

.login-area {
  float: right;

  input { 
    padding: 5px;
    border-radius: 5px;
    border: none;
  }

  button {
    background-color: lightblue;
    padding: 0px;
    border-radius: 5px;
    width: 98.7%;
  }

  h2 {
    margin: 0;
    margin-top: 5px;
  }
}